:root, [data-bs-theme=dark]{
    --bs-primary-rgb: rgba(13, 34, 43, 1)
}

body{
    background: linear-gradient(10deg,rgba(0, 0, 0, 1) 0%, rgba(13, 34, 43, 1) 100%);
    background-attachment: fixed;
}

h1 {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-shadow: black 15px 5px;
    margin-bottom: 1em;
}

.navbar {
    background-color: rgba(23, 43, 54, 1);
    border-bottom: 1px solid black;
}

.gameThumb {
    aspect-ratio: 13/10;
    width: 100%;
}

.gameDescription {
    height: 4.6em;
    max-height: 4.6em;
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(23, 43, 54, 0.5);
}

.gameStoreLinkContainer {
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.gameStoreLink {
    flex-basis: 33%;
    background-color: rgba(23, 43, 54, 1);
}

.gameGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

.gameGalleryItem {
    flex-basis: 49%;
}